.help {
  padding-bottom: 100px;
  & .container {
    padding: 0 127px;
  }
  &__content {}
  &__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    margin-bottom: 60px;
  }
  &__img {
    width: 60px;
    height: 60px;
  }
  /*&__ways {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 100px;
    column-gap: 125px;
    //grid-template-columns: repeat(5, 1fr);
    //grid-template-rows: repeat(2, 100px);
    /*grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(2, 100px);
    align-content: center;
    justify-content: space-around;
    align-items: center;*/
    /*display: grid;
      height: 220px;
      display: grid;
      grid-gap: 10px;
     grid: auto  / repeat(5, 1fr);
   
  }
  &__way {
    &-1 {
      align-self: flex-start;
      justify-self: flex-start;
    }
    &-2 {
      align-self: center;
      justify-self: center;
    }
    &-3 {
      align-self: center;
      justify-self: center;
    }
    &-4 {
      align-self: center;
      justify-self: flex-end;
    }
    &-5 {
      align-self: center;
      justify-self: flex-end;
    }
    &-6 {
     
      align-self: center;
      justify-self: flex-end;
    }
    &-7 {
      align-self: center;
      justify-self: flex-end;
    }
    &-8 {
      align-self: center;
      justify-self: flex-end;
    }
    &-9 {
      align-self: center;
      justify-self: flex-end;
    }

  }*/
  &__ways {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  row-gap: 55px;
   
  }
  &__way-1 {
    margin-right: 120px;
  }
  &__way-2 {
    margin-right: 127px;
  }
  &__way-3 {
    margin-right: 127px;
  }
  &__way-4 {
    margin-right: 120px;
  }

  &__way-6 {
    margin-left: 130px;
  }

  &__way-7 {
    margin-left: 20px;
  }
  &__way-8 {
    margin-right: -10px;
  }
  &__way-9 {
    margin-right: 80px;
  }
 
}