.our-friends {
  padding-top: 51px;
  background-color: #F6F6F6;
  padding-bottom: 70px;
  margin-bottom: 77px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
  }
&__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
margin-bottom: 60px;
}
&__slider {
  display: flex;
  //max-width: 990px;
  //width: 100%;
  transform: translateX(-25px);
  
}
&__cards {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 27%);
  gap: 90px;
  margin-bottom: 60px;

}
&__prev {
 //background: url('../assets/button_arrow_prev.svg');
 width: 52px;
 height: 52px;
 margin-top: 193px;
 margin-right: 73px;
 cursor: pointer;
 transition: all .5s;
 &:hover {
  transform: rotate(90deg);
  transform: scale(1.2);
  background-color: rgb(220, 153, 20);
 border-radius: 50%;
 }
}
&__next {
  //background: url('../assets/button_arrow_next.svg');
 width: 52px;
 height: 52px;
 margin-top: 193px;
margin-left: 20px;
cursor: pointer;
transition: all .5s;
 &:hover {
  transform: rotate(90deg);
  transform: scale(1.2);
  background-color: rgb(220, 153, 20);
 border-radius: 50%;
 }
}
&__card {
width: 270px;
height: 435px;
background-color: #FAFAFA;
display: flex;
flex-direction: column;
align-items: center;
transition: all .5s;
border-radius: 9px;
cursor: pointer;
&:hover {
  transform: scale(1.15);
}
}
&__button {
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
width: 187px;
height: 52px;
border-radius: 100px;
background-color: #FAFAFA;
border: 2px solid #eec7aa;
transition: all .7s;
 &:hover {
  transform: rotate(360deg);
  background-color: rgb(220, 153, 20);

 }
&-rest {
  cursor: pointer;
  width: 261px;
  height: 52px;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
cursor: pointer;
transition: all .5s;
margin-bottom: 30px;

background-color: #F1CDB3;
border-radius: 100px;
color: #292929;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
 &:hover {
  transform: rotate(90deg);
  transform: scale(1.1);
  background-color: rgb(220, 153, 20);
 
 }
}
}
&__name {
  font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
margin-top: 28px;
margin-bottom: 30px;
}
}